In [7]:
import numpy as np
import pandas as pd

In [15]:
data = pd.read_csv(r"C:\Users\Aditya Sharma\Desktop\DataSets-master\bmi_mf.csv")        #r is used to denote the path as python regular expression and convert the \ to /.
data

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
5      Male     189     104      3
6      Male     147      92      5
7      Male     154     111      5
8      Male     174      90      3
9    Female     169     103      4
10     Male     195      81      2
11   Female     159      80      4
12   Female     192     101      3
13     Male     155      51      2
14     Male     191      79      2
15   Female     153     107      5
16   Female     157     110      5
17     Male     140     129      5
18     Male     144     145      5
19     Male     172     139      5
20     Male     157     110      5
21   Female     153     149      5
22   Female     169      97      4
23     Male     185     139      5
24   Female     172      67      2
25   Female     151      64      3
26     Male     190      95      3
27     Male     187      62      1
28   Female     163     159      5
29     Male     179     152      5
..      ...     ...     ...    ...
470    Male     147     142      5
471    Male     154     112      5
472  Female     178      65      2
473    Male     195     153      5
474  Female     167      79      3
475    Male     183     131      4
476  Female     164     142      5
477    Male     167      64      2
478  Female     151      55      2
479  Female     147     107      5
480  Female     155     115      5
481  Female     172     108      4
482  Female     142      86      5
483    Male     146      85      4
484  Female     188     115      4
485    Male     173     111      4
486  Female     160     109      5
487    Male     187      80      2
488    Male     198     136      4
489  Female     179     150      5
490  Female     164      59      2
491  Female     146     147      5
492  Female     198      50      0
493  Female     170      53      1
494    Male     152      98      5
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [13]:
data.head(1)

  Gender  Height  Weight  Index
0   Male     174      96      4

In [14]:
my_index = pd.Series(["Extremely Weak","Weak","Normal","Overweight","Obese","Extremely Obese"])
my_index

0     Extremely Weak
1               Weak
2             Normal
3         Overweight
4              Obese
5    Extremely Obese
dtype: object

In [16]:
#Data Segregation

In [17]:
x_ghw = data.iloc[:,0:3]
y_index = data.iloc[:,3]

In [22]:
x_ghw.head(1)

  Gender  Height  Weight
0   Male     174      96

In [ ]:
y_index

In [21]:
type(y_index)

pandas.core.series.Series

In [25]:
#Encoding the gender with Binary Encoding (Explicit Type Casting)
x_ghw.Gender[x_ghw.Gender=='Female']=0
x_ghw.Gender[x_ghw.Gender=='Male']=1

C:\Users\Aditya Sharma\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Aditya Sharma\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [28]:
#Reshaping the input and output to array
xx_ghw = x_ghw.values.reshape(500,3)
yy_index = y_index.values.reshape(500,1)
#Note: Change the variable as if the reshaped x_ghw will be stored in x_ghw then on first entry it will convert to

In [50]:
#Segregating the data into 70:30 ratio of train:test datasets
x_train = xx_ghw[:350]
x_test = xx_ghw[350:]

y_train = yy_index[:350]
y_test = yy_index[350:]

In [51]:
type(x_train)

numpy.ndarray

In [52]:
from sklearn.neighbors import KNeighborsClassifier

In [53]:
trainer = KNeighborsClassifier()    #by default value of K is 5

In [54]:
learner = trainer.fit(x_train, y_train)

C:\Users\Aditya Sharma\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

In [55]:
#x_test................y_test
Ya = y_test

In [56]:
Yp = learner.predict(x_test)
my_index[Yp]

3         Overweight
2             Normal
2             Normal
5    Extremely Obese
0     Extremely Weak
3         Overweight
4              Obese
5    Extremely Obese
1               Weak
5    Extremely Obese
1               Weak
5    Extremely Obese
5    Extremely Obese
4              Obese
5    Extremely Obese
4              Obese
3         Overweight
4              Obese
5    Extremely Obese
4              Obese
3         Overweight
5    Extremely Obese
1               Weak
2             Normal
4              Obese
5    Extremely Obese
5    Extremely Obese
5    Extremely Obese
4              Obese
3         Overweight
          ...
5    Extremely Obese
5    Extremely Obese
2             Normal
4              Obese
3         Overweight
4              Obese
5    Extremely Obese
2             Normal
2             Normal
5    Extremely Obese
5    Extremely Obese
4              Obese
5    Extremely Obese
5    Extremely Obese
4              Obese
4              Obese
5    Extremely Obese
2             Normal
4              Obese
5    Extremely Obese
2             Normal
5    Extremely Obese
0     Extremely Weak
2             Normal
5    Extremely Obese
5    Extremely Obese
4              Obese
5    Extremely Obese
5    Extremely Obese
5    Extremely Obese
Length: 150, dtype: object

In [57]:
yaa = list(Ya)

In [58]:
ypp = list(Yp)

In [59]:
acc = pd.DataFrame({"Ya":yaa,"Yp":ypp})

In [60]:
from sklearn.metrics import accuracy_score

In [61]:
accscore = accuracy_score(Ya,Yp)*100

In [62]:
accscore

91.33333333333333

In [87]:
#Prediction Test
p = learner.predict([[1,170,60]])

In [88]:
my_index[p]

2    Normal
dtype: object